#mtc {
    background-color: #262729;
}

#mtc label {
    color: #BFBFBF;
}

#mtc button {
    background-color: #262729;
    background-image: none;
    border-radius: 10px;
    border-color: #1e1f21;
    box-shadow: 0 0 5px #333 inset;
}

#mtc button:hover {
    background-color: #1873CC;
    background-image: none;
}

#mtc button:active {
    background-color: #364A5F;
    background-image: none;
}
